<div>
  <button
    class="btn btn-primary"
    (click)="getQuotesAndProccesThem()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped" style="font-size:24px;">
  <!-- <table class="table table-striped" style="font-weight:bold"> -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Sym</th>
        <th>Price</th>
        <th>CMC $xxx/$ETH</th>
        <th>Bin $xxx/$ETH</th>
        <th>Skew</th>
        <th>CMC 24H Chg</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of cmcQuoteList">
        <td style="font-size:18px;">{{ quote.name }}</td>
        <td>{{ quote.symbol }}</td>

        <!-- <td>{{ (quote.price_usd) | currency: 'USD':'symbol':'0.3'}}</td> -->
        <!-- Pick the number of decimal places based on the magnitude of the price. -->
        <td *ngIf="(quote.price_usd >= 2.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.0-0' }}</td>
        <td *ngIf="(quote.price_usd < 2.0) && (quote.price_usd > 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.2-2' }}</td>
        <td *ngIf="(quote.price_usd <= 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.3-3' }}</td>

        <td>{{ (quote.cmcPriceInEth) | number: '0.7' }}</td>
        <td>{{ (quote.binancePriceInEth) | number: '0.7' }}</td>

        <td>{{ quote.percentBinCmcPriceDelta }}</td>

        <!-- <td *ngIf="quote.percentBinCmcPriceDelta < 0"   style="color:Crimson; font-weight:bold">{{ (quote.percentBinCmcPriceDelta / 100) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percentBinCmcPriceDelta >= 0"  style="color:green; font-weight:bold">{{ (quote.percentBinCmcPriceDelta / 100) | percent: '0.1-1'  }}</td> -->

        <!-- <td *ngIf="quote.percent_change_24h < 0"   style="color:FireBrick; font-weight:bold">{{ (quote.percent_change_24h / 100) | percent: '0.1-1'  }}</td> -->
        <td *ngIf="quote.percent_change_24h < 0"   style="color:Crimson; font-weight:bold">{{ (quote.percent_change_24h / 100) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percent_change_24h >= 0"  style="color:green; font-weight:bold">{{ (quote.percent_change_24h / 100) | percent: '0.1-1'  }}</td>

        <td>{{ quote.last_updated * 1000 | date:'yyyy-MM-dd'}}</td>
        <td>{{ quote.last_updated * 1000 | date:'HH:mm'}}</td>
        <!-- <td>{{ quote.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td> -->
      </tr>
    </tbody>
  </table>
</div>

<!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
This works 4!!!
<div>
  <button
    class="btn btn-primary"
    (click)="getQuotesAndProccesThem()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>24 Hr Chg %</th>
        <th>LastUpdate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ xrpQuote?.name }}</td>
        <td>{{ xrpQuote?.symbol }}</td>
        <td>{{ xrpQuote?.price_usd }}</td>
        <td>{{ xrpQuote?.percent_change_24h }}</td>
        <td>{{ xrpQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
      <tr>
        <td>{{ adaQuote?.name }}</td>
        <td>{{ adaQuote?.symbol }}</td>
        <td>{{ adaQuote?.price_usd }}</td>
        <td>{{ adaQuote?.percent_change_24h }}</td>
        <td>{{ adaQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
      <tr>
        <td>{{ ethQuote?.name }}</td>
        <td>{{ ethQuote?.symbol }}</td>
        <td>{{ ethQuote?.price_usd }}</td>
        <td>{{ ethQuote?.percent_change_24h }}</td>
        <td>{{ ethQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>24 Hr Chg %</th>
        <th>LastUpdate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of cmcQuoteList">
        <td>{{ quote.name }}</td>
        <td>{{ quote.symbol }}</td>
        <td>{{ quote.price_usd }}</td>
        <td>{{ quote.percent_change_24h }}</td>
        <td>{{ quote.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
    </tbody>
  </table>
</div>
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->

<!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
This works 2!!!
<div>
  <button
    class="btn btn-primary"
    (click)="getQuotes()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>% 24 Hour Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ btc_name }}</td>
        <td>{{ btc_symbol }}</td>
        <td>{{ btc_price_usd }}</td>
        <td>{{ btc_percent_change_24h }}</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->
