<div>
  <button
    class="btn btn-primary"
    (click)="getQuotesAndProccesThem()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped  table-condensed" style="font-size:24px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sym</th>
        <th>Price</th>
        <th>Bin $xxx/$ETH</th>
        <th>CMC $xxx/$ETH</th>
        <th>Skew</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let quote of cmcQuoteList">
        <td style="font-size:18px;">{{ quote.name }}</td>
        <td>{{ quote.symbol }}</td>

        <td *ngIf="(quote.price_usd >= 2.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.0-0' }}</td>
        <td *ngIf="(quote.price_usd < 2.0) && (quote.price_usd > 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.2-2' }}</td>
        <td *ngIf="(quote.price_usd <= 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.3-3' }}</td>

        <td>{{ (quote.binancePriceInEth) | number: '0.7-7' }}</td>
        <td>{{ (quote.cmcPriceInEth) | number: '0.7-7' }}</td>

        <td *ngIf="quote.percentBinCmcPriceDelta == 0"   >{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percentBinCmcPriceDelta < 0"   style="color:Crimson; font-weight:bold">{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percentBinCmcPriceDelta > 0"  style="color:green; font-weight:bold">{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>

        <td>{{ quote.last_updated * 1000 | date:'yyyy-MM-dd'}}</td>
        <td>{{ quote.last_updated * 1000 | date:'HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<h2>ADA AdaHistory</h2>

<div class="container">
  <table class="table table-striped table-condensed" style="font-size:24px;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Sym</th>
        <th>Price</th>
        <th>Bin $xxx/$ETH</th>
        <th>CMC $xxx/$ETH</th>
        <th>Skew</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quote of adaQuoteHistory">
        <td style="font-size:18px;">{{ quote.name }}</td>
        <td>{{ quote.symbol }}</td>

        <td *ngIf="(quote.price_usd >= 2.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.0-0' }}</td>
        <td *ngIf="(quote.price_usd < 2.0) && (quote.price_usd > 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.2-2' }}</td>
        <td *ngIf="(quote.price_usd <= 1.0)">{{ (quote.price_usd) | currency: 'USD':'symbol':'0.3-3' }}</td>

        <td>{{ (quote.binancePriceInEth) | number: '0.7-7' }}</td>
        <td>{{ (quote.cmcPriceInEth) | number: '0.7-7' }}</td>

        <td *ngIf="quote.percentBinCmcPriceDelta == 0"   >{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percentBinCmcPriceDelta < 0"   style="color:Crimson; font-weight:bold">{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>
        <td *ngIf="quote.percentBinCmcPriceDelta > 0"  style="color:green; font-weight:bold">{{ (quote.percentBinCmcPriceDelta) | percent: '0.1-1'  }}</td>

        <td>{{ quote.last_updated * 1000 | date:'yyyy-MM-dd'}}</td>
        <td>{{ quote.last_updated * 1000 | date:'HH:mm'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->
