<div>
  <button
    class="btn btn-primary"
    (click)="getQuotesAndProccesThem()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>24 Hr Chg %</th>
        <th>LastUpdate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ xrpQuote?.name }}</td>
        <td>{{ xrpQuote?.symbol }}</td>
        <td>{{ xrpQuote?.price_usd }}</td>
        <td>{{ xrpQuote?.percent_change_24h }}</td>
        <td>{{ xrpQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
      <tr>
        <td>{{ adaQuote?.name }}</td>
        <td>{{ adaQuote?.symbol }}</td>
        <td>{{ adaQuote?.price_usd }}</td>
        <td>{{ adaQuote?.percent_change_24h }}</td>
        <td>{{ adaQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
      <tr>
        <td>{{ ethQuote?.name }}</td>
        <td>{{ ethQuote?.symbol }}</td>
        <td>{{ ethQuote?.price_usd }}</td>
        <td>{{ ethQuote?.percent_change_24h }}</td>
        <td>{{ ethQuote?.last_updated * 1000 | date:'yyyy-MM-dd __ HH:mm:ss Z'}}</td>
      </tr>
      <!-- <tr>
        <td>{{ ?.name }}</td>
        <td>{{ ?.symbol }}</td>
        <td>{{ ?.price_usd }}</td>
        <td>{{ ?.percent_change_24h }}</td>
      </tr> -->
    </tbody>
  </table>
</div>

<!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
This works 2!!!
<div>
  <button
    class="btn btn-primary"
    (click)="getQuotes()">Get Quotes
  </button>
</div>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
        <th>% 24 Hour Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ btc_name }}</td>
        <td>{{ btc_symbol }}</td>
        <td>{{ btc_price_usd }}</td>
        <td>{{ btc_percent_change_24h }}</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->
